.git
.gitignore
.github
.venv
.venv-ragas
.pytest_cache
__pycache__/
*.py[cod]

.env
.env.example

storage/
benchmark-data/
ragas-data/

tests/
scripts/
*.md

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.prod.yml
